{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center">
<div class="chat-container mt-5 col-12 col-sm-10 col-md-9">
    <div class="chat-header">
        <h2>Chat</h2>
    </div>
    <div class="chat-messages">
    </div>
    <div class="chat-input">
        <input disabled type="text" placeholder="Escribe un mensaje...">
        <button type="button" disabled>Enviar</button>
    </div>
</div>
</div>
{% endblock content %}

{% block js %}
     <script>
      // poner en mayuscula la primera letra de un string
      function toTitle(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
      }
      // Web sockect
      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
      var chatSocket=null;
      try{
        chatSocket = new WebSocket(
             ws_scheme + '://' + window.location.host +
             '/ws/chat/{{ room_name }}/'
      );
      }catch (e){
        chatSocket=null
        alert("No se puedo conectar al chat, recarga la pagina")
      }
      
      // Obtener referencia al contenedor de mensajes del chat
    var chatMessages = document.querySelector('.chat-messages');
if (chatSocket!=null){
    // Agregar un evento de mensaje recibido al WebSocket
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var user=null;
        try{
          user = data['user']
        }catch (e){
          console.error(e)
          user=null;
        }
        if (user==null){
          user="Anonimo"
        }

        // Crear un elemento de mensaje y agregarlo al contenedor de mensajes
        var messageElement = document.createElement('div');
        messageElement.classList.add('message');
        if (user=="{{request.user.username}}"){
          messageElement.innerHTML = `<div class="local" style="margin-left:auto; text"><span>${message}</span></div>`;
        }else{
          messageElement.innerHTML = `<div class="no-local" style="margin-right:auto; text"><strong style="display:block;">${toTitle(user)}</strong><span>${message}</span></div>`;
        }
        
        chatMessages.appendChild(messageElement);

        // Desplazarse hacia abajo para mostrar el mensaje más reciente
        chatMessages.scrollTop = chatMessages.scrollHeight;
    };
    // Obtener referencias a los elementos del chat
    var chatInput = document.querySelector('.chat-input input');
    var sendButton = document.querySelector('.chat-input button');
    chatInput.disabled=false;
    sendButton.disabled=false;

    // Agregar un evento de clic al botón de enviar
    sendButton.addEventListener('click', function() {
        var message = chatInput.value.trim();
        if (message !== '') {
            // Enviar el mensaje al WebSocket
            chatSocket.send(JSON.stringify({
                'message': message,
                "user":"{{request.user.username}}"
            }));

            // Limpiar el campo de entrada del chat
            chatInput.value = '';
        }
    });

    // Agregar un evento de tecla presionada al campo de entrada del chat (Cuando le una enter)
    chatInput.addEventListener('keypress', function(event) {
        if (event.keyCode === 13 || event.which === 13) {
            // Obtener el mensaje del campo de entrada
            var message = chatInput.value.trim();
            if (message !== '') {
                // Enviar el mensaje al WebSocket
                chatSocket.send(JSON.stringify({
                    'message': message,
                    "user":"{{request.user.username}}"
                }));

                // Limpiar el campo de entrada del chat
                chatInput.value = '';
            }
        }
    });
    }
</script>


{% endblock js %}