{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat con Django</title>
  <link rel="icon" href="{% static 'media/img/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'libs/bootstrap-5.3/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  {% include 'navbar.html' %}
  <main class="container-fluid container-md">
    {% block content %}{% endblock content %}
  </main>
  <script src="{% static 'libs/bootstrap-5.3/js/bootstrap.bundle.min.js' %}"></script>
  {% block js %}{% endblock js %}
</body>
</html>